@model IEnumerable<MyCompany.Shared.ItemSummary>

@{
    ViewData["Title"] = "Index";
}
<style>
    tr:nth-child(even) {background: #CCC}
    tr:nth-child(odd) {background: #FFF}
</style>
<h2>Ebay Item Search</h2>

<!--
<p>
    <a asp-action="Create">Create New</a>
</p>
-->
<table class="table">
    <thead
        <tr>
            <th>Item Title
               <!--
               @Html.DisplayNameFor(model => model.title)
               -->
            </th>
            <th>Item Price
               <!--
               @Html.DisplayNameFor(model => model.price)
               -->
            </th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="max-width: 200px">Item Title
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price.value)
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.itemWebUrl)" target=_blank>
                <img src="@Html.DisplayFor(modelItem => item.image.imageUrl)" alt="" style="max-height: 50px; max-width: 50px;border: 3px solid black;"></img>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>